@media screen{
html{
    background-color:gray;
}
*p{
    font-size: 18px;
}
h2{
    font-size: 22px;
}
nav{
    position: fixed;
    display: block;
    z-index: 100;
    bottom: 0px;
    margin: 2vw;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: auto;
}

nav li  {
    float: right;
    display: block;
    color: white;
    text-align: center;
    font-size: 3.5vw;
    z-index: 5;
    border: 5px black;
    padding: 14px 16px;
    text-decoration:none;
    margin: auto;
}
body{
    text-align: center;
    color: white;
}
#location{
    font-size: 3rem;
    position: relative;
    text-align: center;
    display: inline;
}
#city{
    margin-top: 15px;
    margin-bottom: 0px;
}
#conditions{
    position: relative;
    height: 100%;
    text-align: center;
}
#conditions h2{
    font-size: 3em;
    margin-top: -10px;
    margin-bottom: 0px;
}
#conditions p{
    font-size: 1.5rem;
    margin-top: -5px;
    margin: 20px;
}
#sunny{
    width: 50%;
}
#wind{
    text-align: center;
}
#direction{
    text-align: center;
}
#rain{
    margin: 50px;
    position: relative;
}
#hourly {
    border-collapse: collapse;
    position: relative;
    margin: auto;
    margin-top: 30px;
    font-size: 1.5em;
}
 #wind{
    font-size: 1.5rem;
}
table, td, th {
    border-collapse: separate;
    border-spacing: 10px 10px;
    padding: 10px;
}
#rain{
}
#rain h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    }
#rain p{
    font-size: 1.3em;
    margin-top: 10px;
}
footer{
    text-align: left;
}
#sketch img{
    max-width: 100%;
}
#hourly, #zip, #lonandlat{
    display: none;
}
}
@media screen and (min-width: 700px){
    html{
        background-color:cadetblue;
        position: relative;
    }
    #sketch{
        display: none;
    }
    #hourly{
        display: inline;
        position: absolute;
        right: 3%;
        top: 5%;
        height: 800px;
        width: 30%;
        overflow: scroll;
    }
    #hourly th{
        padding: 10px;
    }
    #location{
        position: relative;
        right: 18%;
        margin-top: 50px;
    }
    #sunny{
        width:40%;
        position: relative;
        right: 18%;
        margin-top: -40px;
        margin-bottom: 30px;
    }
    #conditions h2{
        position: relative;
        right: 18%;
        font-size: 3em;
    }
    #conditions p{
        position: relative;
        right: 18%;
        font-size: 2em;
    }
    #rain{
        position: relative;
        right: 18%;
    }
    #rain h2 {
        font-size: 2.5em;
    }
    #rain p{
        font-size: 2em;
    }
    #windtable{
        position: relative;
        right: 2%;
    }
    #direction{
        font-size: 2.0em;
    }
    #direction2{
        font-size: 1.8em;
    }
    #wind{
        font-size: 2.2em;
    }
    #wind2{
        font-size: 2em;
    }
    footer{
        position: absolute;
        bottom: -30%;
    }
}





