
p{
    font-size: 60px;
}
h2{
    font-size: 70px;
}
h3{
    font-size: 46px;
    }
nav{
    position: fixed;
    right: 100px;
    bottom: 100px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: auto
}

nav li  {
    float: right;
    display: block;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 14px 16px;
    text-decoration: none;
}
section{
    margin: 50px;
}
#location{
    position: relative;
    left: 0px;
    top: 0px;
    width: 600px;
    height: 400px;
    background-color: coral;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
#city{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size:5em;
}
#state{
    font-family: Georgia, serif;
    font-size: 4em;
}
#conditions{
    position: relative;
    background-color: aquamarine;
    width: 700px;
    left: 200px;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
#conditions img{
    width:50%;

}
#wind {
    width: 650px;
    background-color: beige;
    font-size: 1em;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
#windmill{
position: right;

}
#percipitation {
    width: 500px;
    height: 300px;
    background-color: blanchedalmond;
    font-size: 1em;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
#iphone{
    width:30%;
}

