h1{
    font-size: 16px;
    position:relative;
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;

}
nav{
    background-color: chocolate;
    position: relative;
    right: 0px;
    bottom: 0px;
}
#location{
    position: relative;
    left: 0px;
    top: 0px;
    background-color: aqua;
    width: 100px
}
#conditions{
    position: relative;
    background-color: aquamarine;
    width: 200px;
    left: 50px
}
#conditions img{
    width: 100px;

}
#wind {
    width: 100px;
    background-color: beige;
    font-size: .5em;
}
#percipitation {
    width: 100px;
    background-color: blanchedalmond;
    font-size: .5em;
}

