@media screen{
    html{
        background-color:gray;
    }
    p{
        font-size: 24px;
    }
    h2{
        font-size: 36px;
    }
    nav{
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 100%;
    }
    a{
        color: darkslategray;
        text-decoration: inherit;
        font-weight: bold;
        font-size: 4.5vw;
    }
    body{
        color: white;
    }
    #location{
        font-size: 8vw;
        position: relative;
        text-align: center;
        display: inline;
    }
    #city{
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 8vw;
    }
    #conditions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #conditions h2 {
        font-size: 7vw;
    }
    #conditions p{
        font-size: 6vw;
    }
    #thunder{
        width: 50%;
    }
    #sunny{
        width: 50%;
    }
    }
    #direction{
        font-size: 1.5vw;
    }
    #direction2{
        font-size: 1.2vw;
    }
#rain{

}
    #hourly {
        border-collapse: collapse;
        text-align: center;
        overflow-y: scroll;
    }
    th, td {
    padding: 10px;
    text-align: center;
}
    #wind{
        flex-direction: column;
        align-content: center;

    }
    #rain{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    #rain h2 {
        font-size: 5vw;
        margin-bottom: 5%;
    }
    #rain p{
        margin-top: 10px;
        font-size: 7vw;
    }
    footer{
        text-align: left;
    }
    #iphone{
        width: 100%;
    }
    #hourly, #zip, #lonandlat, #ipad, #browser {
        display: none;
    }
    #wind{
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-around;
        margin-top: -5%;
}
#speed p{
    text-align: center;
}
#direction{
    text-align: center;
}
#direction P{
    font-size: 6vw;
}
#direction h2{
    font-size: 6vw;
}
#speed h2{
    font-size: 6vw;
}
#speed p{
    font-size: 6vw;
}
@media screen and (min-width: 550px){

        html{
            background-color: cadetblue;
    }
    #iphone{
        display: none;
    }
    #ipad{
        display: inline;
        width: 100%;
    }
    #mediumlayout{
        display: flex;
        flex-direction: row;
    }
    #conditions{
        display: inline;
        align-items: center;
        text-align: center;
        width: 50%;
        height: 30%;
    }
    #hourly{
        display: inline;
        text-align: center;
        width: 50%;
        font-size: 4.5vw;
        height: 600px;
        margin-bottom: 40px;
    }
    #layout{
        margin-top: 20px;
    }
    #city{
        margin-top: 30px;
    }
            }
    @media screen and (min-width: 1000px){
        html{
            background-color: chocolate;
        }
        #ipad{
            display: none;
        }
        #browser{
            display: inline;
            position: relative;
            bottom: -200px;
            width: 100%;
        }
        a{
            font-size: 2vw;
        }
        #container{
            display: flex;
            flex-flow: row;
            justify-content: center;
        }
        #wind{
            display: flex;
            flex-direction: column;
        }
        #city{
            font-size: 5vw;
            text-align: left;
            margin-left: 1%;
        }
        #conditions{
            margin-right: 20%;
            margin-left: 5%;
        }
        #conditions h2{
            font-size: 3vw;
        }
        #sunny{
            width: 80%;
        }
        #thunder{
            width: 80%;
        }
        #conditions p{
            font-size: 3vw;
        }
        #hourly{
            font-size: 2vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 600px;
            width: 70%;
        }
        #otherinfo{
            margin-left: 10%;
            margin-right: 5%
        }
        #direction P{
            font-size: 2.5vw;
        }
        #direction h2{
            font-size: 3vw;
            margin-top: -5%;
        }
        #speed h2{
            font-size: 3vw;
        }
        #speed p{
            font-size: 3vw;
        }
        #rain h2 {
            font-size: 3vw;
            margin-top: 0%;
        }
        #rain p{
            font-size: 3vw;
        }
}
    @media screen and (min-width: 1500px){
        #hourly{
            height: 700px;
            font-size: 2vw;
        }
        #otherinfo{
            margin-left: 10%;
        }
        }


