@media screen{
    html{
        background-color:gray;
    }
    p{
        font-size: 24px;
    }
    h2{
        font-size: 26px;
    }
    nav{
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 100%;
    }
    a{
        color: inherit;
        text-decoration: inherit;
        font-weight: bold;
        font-size: 1em;
    }
    body{
        color: white;
    }
    #location{
        font-size: 3rem;
        position: relative;
        text-align: center;
        display: inline;
    }
    #city{
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: .9em;
    }
    .conditions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .conditions{

    }
    #thunder{
        width: 50%;
    }
    #sunny{
        width: 50%;
    }

    }
    #direction{
        font-size: 1.5em;
    }
    #direction2{
        font-size: 1.2em;
    }
    #rain{
        margin: 50px;
        position: relative;
    }
    #hourly {
        border-collapse: collapse;
        position: relative;
        margin: auto;
        margin-top: 30px;
        font-size: 1.5em;
    }
    .wind{
        flex-direction: column;
        align-content: center;

    }
    #rain{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px;

    }
    #rain h2 {
        font-size: 1.5em;
        margin-bottom: 5px;
    }
    #rain p{
        margin-top: 10px;
    }
    footer{
        text-align: left;
    }
    #iphone{
        width: 100%;
    }
    #hourly, #zip, #lonandlat, #ipad, #browser {
        display: none;
    }
    .wind{
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-around;
        margin-top: -5%;
}
.speed p{
    text-align: center;
}
.direction{
    text-align: center;
}
    @media screen and (min-width: 700px){
        html{
            background-color:cadetblue;
            position: relative;
        }
        #iphone, #browser{
            display: none;
        }
        #ipad{
            display: inline;
            width: 70%;
            position: relative;
            bottom: -90px;
        }
        nav{
            position: fixed;
            display: block;
            z-index: 100;
            bottom: 0px;
            right: 0%;
            margin: 3vw;
            border: 1px solid white;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            height: auto;
        }

        nav li  {
            display: block;
            text-align: right;
            font-size: 2.5vw;
            z-index: 5;
            border: 1px solid white;
            padding: 14px 16px;
            text-decoration:none;
            margin: auto;
        }

        #hourly{
            display: inline;
            position: absolute;
            right: 3%;
            top: 5%;
            height: 800px;
            width: 30%;
            overflow: scroll;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        #hourly th{
            padding: 10px;
        }
        #city {
            position: relative;
            right: 18%;
            font-size: 1em;
            margin-bottom: 25px;
        }
        #sunny{
            width:40%;
            position: relative;
            right: 18%;
            margin-top: -30px;
            margin-bottom: 30px;
        }
        #conditions h2{
            position: relative;
            right: 18%;
            font-size: 3em;
        }
        #conditions p{
            position: relative;
            right: 18%;
            font-size: 2em;
        }
        #rain{
            position: relative;
            right: 18%;
        }
        #rain h2 {
            font-size: 2.5em;
        }
        #rain p{
            font-size: 2em;
        }
        #wind{
            position: relative;
            right: 5%;
            font-size: 2.2em;
        }
        #wind2{
            position: relative;
            right: 5%;
            font-size: 1.8em;
        }
        #direction{
            font-size: 2.0em;
            position: relative;
            right: 8%;
        }
        #direction2{
            font-size: 1.8em;
            position: relative;
            right: 8%;
        }
        footer{
            position: absolute;
            bottom: -30%;
        }
    }
    @media screen and (min-width: 1000px){
        html{
            background-color: chocolate;
        }
        #ipad{
            display: none;
        }
        #browser{
            display: inline;
            position: relative;
            bottom: -200px;
            width: 70%
        }
        nav{
            position: fixed;
            display: block;
            z-index: 100;
            bottom: 0px;
            right: 30%;
            margin: 2vw;
            border: 1px solid white;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            height: auto;
        }

        nav li  {
            float: right;
            display: block;
            text-align: center;
            font-size: 1.5vw;
            z-index: 5;
            border: 1px solid white;
            padding: 14px 16px;
            text-decoration:none;
            margin: auto;
        }
        #location{
            position: relative;
            right: 21%;
            margin-bottom: 40px;
            top: 20px;
        }
        #sunny{
            position: absolute;
            left: 19%;
            max-width: 5%;
            bottom: 135%;
        }
        #zip{
            display: inline;
            position: relative;
            right: 41.5%;
            font-size: 1.2em;
            top: 10px;


        }
        #lonandlat {
            display: inline;
            position: relative;
            right: 40%;
            font-size: 1.2em;
            top: 25px;

        }
        #conditions h2{
            position: relative;
            right: 43%;
            font-size: 2em;
            margin-top: 50px;
        }
        #conditions p{
            position: relative;
            right: 42.75%;
            font-size: 1.3em;
        }
        #rain h2{
            position: relative;
            right: 24.5%;
            font-size: 1.8em;
        }
        #rain p{
            position: relative;
            right: 26.75%;
            font-size: 1.5em;
        }
        #hourly{
            width:20%;
            height: 550px;
            right: 4%;
            top: 0%;

        }
        #wind{
            position: relative;
            right: 10%;
            font-size: 1.7em;
        }
        #wind2{
            position: relative;
            right: 9%;
            font-size: 1.5em;
        }
        #direction{
            position: relative;
            font-size: 1.7em;
        }
        #direction2{
            position: relative;
            font-size: 1.5em;
        }
    }
