p{
    font-size: 10px;
}
.header{
  text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main{
    order: 0;
    padding: 30px;
    flex-grow: 1;
}
main{
    width: 50%
}
aside{
    width: 25%
}
nav{
    align-self: center;
}

}
footer{
    text-align: center;
}

